.movie-details {
    display: flex;
    background: #232323;
    color: rgba(255, 255, 255, 0.6);
}

.movie-details__info {
    margin-left: 60px;
}

.movie-details__row {
    display: flex;
    align-items: center;
}

.movie-details__title {
    font-size: 2rem;
    margin-right: 20px;
}

.movie-details__voteAverage {
    border: 2px solid white;
    padding: 10px;
    border-radius: 50%;
    width: 20px;
    text-align: center;
}

.movie-details__genres {
    padding: 10px 0 25px;
    opacity: 0.5;
}

.movie-details__year {
    margin-right: 20px;
    font-size: 1.25rem;
    color: #F65261;
}

.movie-details__duration {
    color: #F65261;
    font-size: 1.25rem;
}

.movie-details__overview {
    margin-top: 25px;
}

.mdClear {
    font-size: 2.5rem;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
