body {
  font-family: 'Montserrat', serif;
}

hr {
  margin-top: -2px;
}

main button {
  color: white;
}

.appContainer {
  display: flex;
  flex-direction: column;
  background: #232323;
  color: white;
  height: 100%;
}

.header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: white;
}

.main {
  margin-top: 30px;
}
